.wpcf7-form{
    .ctc-hide{display: none;}
    .form-top{
        @include flex(row,wrap,space-between,stretch);
        label{
            width: 32.5%;
        }
    }
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="url"]{
        margin: 5px 0;
        width: 100%;
        height: 40px;
        box-sizing: border-box;
        border-radius: 5px;
        border: 1px solid #A0A0A0;
        padding: 10px;
        @include font($font1, 400, 18px, normal, normal, normal, #000000 );
        &::placeholder{
            @include font($font1, 400, 18px, normal, normal, normal, #A0A0A0);
        }
    }
    textarea {
        margin: 5px 0;
        width: 100%;
        height: 100px;
        resize: none;
        box-sizing: border-box;
        border-radius: 5;
        border: 1px solid #A0A0A0;
        padding: 10px;
        @include font($font1, 400, 18px, normal, normal, normal, #000000);
        &::placeholder{
            @include font($font1, 400, 18px, normal, normal, normal, #A0A0A0);
        }
    }
    .consent, .privacy{
        display: block;
        margin: 10px 0;
        .wpcf7-list-item-label {
            @include font($font1, 400, 16px, normal, normal, normal, #000000);
        }
    }
    .btn{
        text-align: center;
    }
}