/*######################################################
## Main Menu
######################################################*/

.main-navigation {
    ul {
        @include flex(row, wrap, center, center); 
        padding: 0;
        margin: 0;
        li {
            display: inline-block;
            position: relative;
            &.menu-item-has-children a {
                &::after {
                    content: "\f0d7";
                    font-family: 'FontAwesome';
                    color: #FFF;
                    transition: all .2s linear;
                    display: inline-block;
                    vertical-align: middle;
                    font-size: 18px;
                    margin-left: 10px;
                    position: relative;
                    top: -2px;
                }

                &:hover::after {
                    transform: rotateZ(180deg);
                }
            }

            a {
                display: block;
                position: relative;
                padding: 20px 10px;
                @include font($font1, 700, 16px, normal, normal, normal, $primary-color);
                transition: all 0.5s ease;
            }
        }
    }

    ul li a:hover,
    .current-menu-item a,
    .current_page_item a {
        text-shadow: 0px 0px 20px #000;
    }

}

/*######################################################
## Sub Menu
######################################################*/

.main-navigation{
    ul {
        li:hover ul {
            visibility: visible;
            opacity: 1;
            margin-top: 0;
        }
        
        ul {
            background: $sub-menu-background;
            transition: all .3s linear;
            box-shadow: 0px 0px 2px #555;
            position: absolute;
            visibility: hidden;
            margin-top: 50px;
            width: 250px;
            display: block;
            opacity: 0;
            padding: 0;

            li {
                display: block;
                margin-right: 0;
                position: relative;

                a {
                    padding: 10px 15px;
                    box-sizing: border-box;
                    display: block;
                    box-sizing: border-box;
                    color: #FFFFFF;

                    &::after,
                    &::before {
                        display: none !important;
                    }

                    &:hover {
                        background: $sub-menu-hover-background;
                    }
                }
            }
        }
        li:last-of-type ul{
            right: 0;
        }
    }
}

/*######################################################
## Secondary Sub Menu
######################################################*/
.main-navigation ul ul ul {
    visibility: hidden !important;
    opacity: 0 !important;
    transition: all 0.5s ease;
    position: absolute;
    top: 0;
    left: 100%;
    transform: translateY(100%);
}
.main-navigation ul li:last-of-type ul ul{
    right: 100%;
    left: auto;
}
.main-navigation ul ul li:hover ul {
    visibility: visible !important;
    opacity: 1 !important;
    transform: translateY(0);
}





/*######################################################
## Footer Menu
######################################################*/


.footer-navigation {
    ul {
        @include flex(row, wrap, center, center);
        padding: 0;
        margin: 0;
        li {
            display: inline-block;
            a {
                display: block;
                position: relative;
                padding: 20px 10px;
                @include font($font1, 700, 16px, normal, normal, normal, $primary-color);
                transition: all 0.5s ease;
            }
        }
    }

    ul li a:hover,
    .current-menu-item a,
    .current_page_item a {
        text-shadow: 0px 0px 20px #000;
    }
}

/*######################################################
## Social Menu
######################################################*/

.social-navigation {
    .svg-icon {
        display: none;
    }

    ul {
        margin: 0 !important;
        list-style: none;
        display: block;
        padding: 0;

        li {

            a {
                color: #FFF;
                position: relative;
                display: block;
                width: 32px;
                height: 32px;
                &::before {
                    transition: all .4s linear;
                }

                &:hover::before {
                    transform: rotateZ(360deg);
                }
            }
        }
    }
}