// Dimensions
//body
$body-max-width: 100%;
$body-min-width: 1200px;
$body-width: 100%;
$row-width: 960px + 30px;

//color
$primary-color: #333333;
$secondary-color: #555555;
$dark-gray-color: #111111;
$light-gray-color: #767676;
$white-color: #FFFFFF;
$black-color: #000000;
$sub-menu-background: rgba(0,0,0,0.8);
$sub-menu-hover-background: #D7BA5A;

//fonts
$font1: Arial, Helvetica, sans-serif;
$font2: 'Open Sans', sans-serif;
$pfont: 'Open Sans', sans-serif;
// h1
$h1-font-family: $font1;
$h1-font-weight:700;
$h1-font-size:100px;
$h1-font-style: normal;
$h1-font-letter-spacing: normal;
$h1-font-line-height: 120%;
$h1-font-color: $secondary-color;
$h1-text-transform: initial;

// h2
$h2-font-family: $font1;
$h2-font-weight:700;
$h2-font-size:100px;
$h2-font-style: italic;
$h2-font-letter-spacing: normal;
$h2-font-line-height: 120%;
$h2-font-color: $secondary-color;
$h2-text-transform: initial;

// h3
$h3-font-family: $font1;
$h3-font-weight:700;
$h3-font-size:40px;
$h3-font-style: normal;
$h3-font-letter-spacing: normal;
$h3-font-line-height: 120%;
$h3-font-color: $primary-color;
$h3-text-transform: initial;

// h4
$h4-font-family: $font1;
$h4-font-weight:700;
$h4-font-size:30px;
$h4-font-style: normal;
$h4-font-letter-spacing: normal;
$h4-font-line-height: 120%;
$h4-font-color: $primary-color;
$h4-text-transform: initial;

// h5
$h5-font-family: $font1;
$h5-font-weight:700;
$h5-font-size:20px;
$h5-font-style: normal;
$h5-font-letter-spacing: normal;
$h5-font-line-height: 120%;
$h5-font-color: $primary-color;
$h5-text-transform: initial;

// h6
$h6-font-family: $font1;
$h6-font-weight:700;
$h6-font-size:15px;
$h6-font-style: normal;
$h6-font-letter-spacing: normal;
$h6-font-line-height: 120%;
$h6-font-color: $primary-color;
$h6-text-transform: initial;