@charset "UTF-8";
/*
Theme Name: Heritage Art Associates
Theme URI: 
Author: The Development Team - Developer - Adrian Valbuena
Author URI: https://wordpress.org/
Description: A theme for WordPress 5.
Requires at least: WordPress 4.9.6
Version: 1.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: heritageartassociates
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Richard Hackerman is based on Underscores https://underscores.me/, (C) 2012-2018 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  min-width: 1200px;
}

/*###################################
## colors
###################################*/
.has-primary-color {
  color: #333333;
}

.has-secondary-color {
  color: #555555;
}

.has-dark-gray-color {
  color: #111111;
}

.has-light-gray-color {
  color: #767676;
}

.has-white-color {
  color: #FFFFFF;
}

.has-primary-background-color {
  background-color: #333333;
}

.has-secondary-background-color {
  background-color: #555555;
}

.has-dark-gray-background-color {
  background-color: #111111;
}

.has-light-gray-background-color {
  background-color: #767676;
}

.has-white-background-color {
  background-color: #FFFFFF;
}

/*###################################
## Layouts
###################################*/
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  word-wrap: normal !important;
  overflow: hidden;
  height: 1px;
  margin: -1px;
  padding: 0;
  width: 1px;
  border: 0;
}

.wp-block-column,
.blocks-gallery-item {
  margin: 0 !important;
}

.no-margin-figure figure {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.mobile, .tablet {
  display: none;
}

.container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.align-stretch {
  align-items: stretch;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.row {
  max-width: 990px;
  margin: 0 auto;
}

.cta {
  display: none;
}

.grecaptcha-badge {
  z-index: 999999;
}

/*###################################
## Fonts
###################################*/
a {
  text-decoration: none;
  transition: all 0.5s ease;
  color: inherit;
}
a:visited {
  text-decoration: none;
  transition: all 0.5s ease;
  color: #555;
}
a:hover {
  text-shadow: 0px 0px 5px #000;
}
a:focus {
  outline: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 auto;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
  letter-spacing: normal;
  line-height: 120%;
  color: #555555;
  text-transform: initial;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 100px;
  font-style: italic;
  letter-spacing: normal;
  line-height: 120%;
  color: #555555;
  text-transform: initial;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  letter-spacing: normal;
  line-height: 120%;
  color: #333333;
  text-transform: initial;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 30px;
  font-style: normal;
  letter-spacing: normal;
  line-height: 120%;
  color: #333333;
  text-transform: initial;
}

h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  font-style: normal;
  letter-spacing: normal;
  line-height: 120%;
  color: #333333;
  text-transform: initial;
}

h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 15px;
  font-style: normal;
  letter-spacing: normal;
  line-height: 120%;
  color: #333333;
  text-transform: initial;
}

p,
ul,
ol {
  margin: 1em 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  letter-spacing: normal;
  line-height: 180%;
  color: #000000;
}
p a,
ul a,
ol a {
  color: #7a0000;
}
p strong,
ul strong,
ol strong {
  color: #172e39;
}

/*###################################
## Buttons
###################################*/
.btn {
  text-align: left;
  max-width: 160px;
  width: 100%;
}
.btn a,
.btn input {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  font-style: normal;
  letter-spacing: normal;
  line-height: 120%;
  color: #FFFFFF;
  width: 100%;
  padding: 4px 17px;
  z-index: 1;
  box-sizing: border-box;
}
.btn-primary a,
.btn-primary input {
  text-align: center;
  display: inline-block;
  border: 0;
  border: 1px solid transparent;
  background: #333333;
  transition: all 0.5s ease;
}
.btn-primary a:hover,
.btn-primary input:hover {
  border: 1px solid #333333;
  text-shadow: 0px 2px 3px #000;
  color: #ddd;
  background-color: #555555;
}
.btn-secondary a,
.btn-secondary input {
  border: 0;
  border: 1px solid transparent;
  border-radius: 5px;
  background: linear-gradient(#770004, #4E0001);
  transition: all 0.5s ease;
}
.btn-secondary a:hover,
.btn-secondary input:hover {
  border: 1px solid #555555;
  text-shadow: 0px 2px 3px #000;
  color: #ddd;
  background-color: #333333;
}

/*###################################
## Search
###################################*/
.sidebar form,
.error-404 form {
  position: relative;
  max-width: 700px;
  margin: 10px auto;
}

.sidebar input[type=search],
.error-404 input[type=search] {
  width: 100%;
  padding: 5px 10px;
}

.sidebar input[type=submit],
.error-404 input[type=submit] {
  background: linear-gradient(to bottom, #FFF, #ccc);
  border: 1px solid #000;
  position: absolute;
  padding: 6px;
  right: 0;
  top: 0;
}

.sidebar .widget:not(:nth-of-type(1)) {
  background: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid #CCC;
  padding-bottom: 20px;
  margin-bottom: 20px;
  padding: 10px 20px;
}
.sidebar input[type=submit] {
  transition: all 0.4s linear;
}

.error-404 input[type=submit] {
  transition: all 0.4s linear;
}

.sidebar input[type=submit]:hover,
.error-404 input[type=submit]:hover {
  box-shadow: 0px 0px 20px #000;
}

/*###################################
## Forms
###################################*/
.wpcf7-form .ctc-hide {
  display: none;
}
.wpcf7-form .form-top {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
}
.wpcf7-form .form-top label {
  width: 32.5%;
}
.wpcf7-form input[type=text],
.wpcf7-form input[type=email],
.wpcf7-form input[type=tel],
.wpcf7-form input[type=url] {
  margin: 5px 0;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #A0A0A0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: #000000;
}
.wpcf7-form input[type=text]::placeholder,
.wpcf7-form input[type=email]::placeholder,
.wpcf7-form input[type=tel]::placeholder,
.wpcf7-form input[type=url]::placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: #A0A0A0;
}
.wpcf7-form textarea {
  margin: 5px 0;
  width: 100%;
  height: 100px;
  resize: none;
  box-sizing: border-box;
  border-radius: 5;
  border: 1px solid #A0A0A0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: #000000;
}
.wpcf7-form textarea::placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: #A0A0A0;
}
.wpcf7-form .consent, .wpcf7-form .privacy {
  display: block;
  margin: 10px 0;
}
.wpcf7-form .consent .wpcf7-list-item-label, .wpcf7-form .privacy .wpcf7-list-item-label {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: #000000;
}
.wpcf7-form .btn {
  text-align: center;
}

/*###################################
## Menus
###################################*/
/*######################################################
## Main Menu
######################################################*/
.main-navigation ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
.main-navigation ul li {
  display: inline-block;
  position: relative;
}
.main-navigation ul li.menu-item-has-children a::after {
  content: "";
  font-family: "FontAwesome";
  color: #FFF;
  transition: all 0.2s linear;
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  margin-left: 10px;
  position: relative;
  top: -2px;
}
.main-navigation ul li.menu-item-has-children a:hover::after {
  transform: rotateZ(180deg);
}
.main-navigation ul li a {
  display: block;
  position: relative;
  padding: 20px 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: #333333;
  transition: all 0.5s ease;
}
.main-navigation ul li a:hover,
.main-navigation .current-menu-item a,
.main-navigation .current_page_item a {
  text-shadow: 0px 0px 20px #000;
}

/*######################################################
## Sub Menu
######################################################*/
.main-navigation ul li:hover ul {
  visibility: visible;
  opacity: 1;
  margin-top: 0;
}
.main-navigation ul ul {
  background: rgba(0, 0, 0, 0.8);
  transition: all 0.3s linear;
  box-shadow: 0px 0px 2px #555;
  position: absolute;
  visibility: hidden;
  margin-top: 50px;
  width: 250px;
  display: block;
  opacity: 0;
  padding: 0;
}
.main-navigation ul ul li {
  display: block;
  margin-right: 0;
  position: relative;
}
.main-navigation ul ul li a {
  padding: 10px 15px;
  box-sizing: border-box;
  display: block;
  box-sizing: border-box;
  color: #FFFFFF;
}
.main-navigation ul ul li a::after, .main-navigation ul ul li a::before {
  display: none !important;
}
.main-navigation ul ul li a:hover {
  background: #D7BA5A;
}
.main-navigation ul li:last-of-type ul {
  right: 0;
}

/*######################################################
## Secondary Sub Menu
######################################################*/
.main-navigation ul ul ul {
  visibility: hidden !important;
  opacity: 0 !important;
  transition: all 0.5s ease;
  position: absolute;
  top: 0;
  left: 100%;
  transform: translateY(100%);
}

.main-navigation ul li:last-of-type ul ul {
  right: 100%;
  left: auto;
}

.main-navigation ul ul li:hover ul {
  visibility: visible !important;
  opacity: 1 !important;
  transform: translateY(0);
}

/*######################################################
## Footer Menu
######################################################*/
.footer-navigation ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
.footer-navigation ul li {
  display: inline-block;
}
.footer-navigation ul li a {
  display: block;
  position: relative;
  padding: 20px 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: #333333;
  transition: all 0.5s ease;
}
.footer-navigation ul li a:hover,
.footer-navigation .current-menu-item a,
.footer-navigation .current_page_item a {
  text-shadow: 0px 0px 20px #000;
}

/*######################################################
## Social Menu
######################################################*/
.social-navigation .svg-icon {
  display: none;
}
.social-navigation ul {
  margin: 0 !important;
  list-style: none;
  display: block;
  padding: 0;
}
.social-navigation ul li a {
  color: #FFF;
  position: relative;
  display: block;
  width: 32px;
  height: 32px;
}
.social-navigation ul li a::before {
  transition: all 0.4s linear;
}
.social-navigation ul li a:hover::before {
  transform: rotateZ(360deg);
}

/*###################################
## Header
###################################*/
.site-header {
  padding: 20px 0;
}

/*###################################
## Banner
###################################*/
.site-banner {
  padding: 20px 0;
}

/*###################################
## Content
###################################*/
.site-content {
  padding: 20px 0;
}

/*###################################
## Footer
###################################*/
.site-footer {
  padding: 20px 0;
  text-align: center;
}

.silver img {
  max-width: 50px;
  display: inline-block;
  vertical-align: middle;
}

/*###################################
## Sidebar Blog
###################################*/
.sidebar {
  max-width: 336px;
  margin: 0 0 0 auto;
}
.sidebar h5 {
  border-top: 1px dashed #9797A6;
  padding: 10px 0;
}
.sidebar h5:last-of-type {
  border-bottom: 1px dashed #9797A6;
}
.sidebar .widget_search {
  box-sizing: border-box;
  background: #6A7A64;
  margin-bottom: 25px;
  padding: 20px;
  width: 100%;
}
.sidebar .widget:last-of-type {
  margin-bottom: 0;
}

/*###################################
## Inner Pages
###################################*/
.inner .site-main {
  padding: 30px 0 30px;
  min-height: 500px;
}
.inner .site-main h1 {
  text-align: center;
}

/*###################################
## Reviews Page
###################################*/
.wpcr3_div_2 {
  width: 100%;
}

.wpcr3_respond_2 input[type=text],
.wpcr3_respond_2 input[type=email],
.wpcr3_respond_2 input[type=tel],
.wpcr3_respond_2 input[type=url] {
  margin: 10px 0;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #A0A0A0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: #000000;
}
.wpcr3_respond_2 input[type=text]::placeholder,
.wpcr3_respond_2 input[type=email]::placeholder,
.wpcr3_respond_2 input[type=tel]::placeholder,
.wpcr3_respond_2 input[type=url]::placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: #A0A0A0;
}
.wpcr3_respond_2 textarea {
  margin: 10px 0;
  width: 100%;
  min-width: 0;
  height: 100px;
  resize: none;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #A0A0A0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: #000000;
}
.wpcr3_respond_2 textarea::placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: #A0A0A0;
}

.wpcr3_table_2 td {
  display: block;
}

/*###################################
## Blog Page
###################################*/
.blog h1,
.blog h2 {
  text-align: center;
}
.blog article {
  position: relative;
  margin: 0 0 40px;
  box-sizing: border-box;
  padding: 20px 10px;
  border: 5px solid #333333;
  border-radius: 5px;
  box-shadow: 0 2px 15px #555555;
}
.blog article .entry-header {
  max-width: 1120px;
  margin: 0 auto;
}
.blog article .entry-header__date {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
  margin: 0 20px 0 0;
  max-width: 70px;
  background: #333333;
  color: #FFFFFF;
}
.blog article .entry-header__date .day {
  font-size: 40px;
  font-weight: bold;
}
.blog article .entry-header__text {
  display: inline-block;
  vertical-align: middle;
}
.blog article .entry-header__text h2 {
  font-style: normal;
  font-size: 40px;
}
.blog article .entry-content {
  max-width: 1120px;
  margin: 0 auto;
  padding: 40px 0 0;
}
.blog article .entry-content p {
  margin: 1em auto;
}
.blog article .entry-content .btn {
  margin: 40px auto 0;
}

.single h1, .single h2 {
  font-size: 40px;
  text-align: center;
}
.single article {
  position: relative;
  margin: 0 0 40px;
  box-sizing: border-box;
  padding: 20px 10px;
  border: 5px solid #333333;
  border-radius: 5px;
  box-shadow: 0 2px 15px #555555;
}
.single article .entry-meta, .single article .entry-footer {
  display: none;
}
.single article .entry-header {
  max-width: 1120px;
  margin: 0 auto;
}
.single article .entry-content {
  max-width: 1120px;
  margin: 0 auto;
}

.comments-area {
  position: relative;
  margin: 0 0 40px;
  box-sizing: border-box;
  padding: 20px 10px;
  border: 5px solid #333333;
  border-radius: 5px;
  box-shadow: 0 2px 15px #555555;
}
.comments-area h1,
.comments-area h2 {
  font-size: 40px;
  text-align: center;
}
.comments-area .comment-body {
  margin: 0 0 40px;
  padding: 0;
  border: 0;
  border-radius: 0;
  box-shadow: unset;
}
.comments-area .discussion-meta,
.comments-area .comment-list {
  max-width: 1120px;
  margin: 0 auto;
}
.comments-area .comment-reply a {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  font-style: normal;
  letter-spacing: normal;
  line-height: 120%;
  color: #FFFFFF;
  max-width: 200px;
  width: 100%;
  padding: 20px 10px;
  z-index: 1;
  box-sizing: border-box;
  text-align: center;
  display: inline-block;
  border: 0;
  border: 1px solid transparent;
  background: #333333;
  transition: all 0.5s ease;
}
.comments-area .comment-reply a:hover {
  border: 1px solid #333333;
  text-shadow: 0px 2px 3px #000;
  color: #ddd;
  background-color: #555555;
}
.comments-area .comment-reply-title a {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  font-style: normal;
  letter-spacing: normal;
  line-height: 120%;
  color: #FFFFFF;
  max-width: 200px;
  width: 100%;
  padding: 20px 10px;
  z-index: 1;
  box-sizing: border-box;
  text-align: center;
  display: inline-block;
  border: 0;
  border: 1px solid transparent;
  background: #555555;
  transition: all 0.5s ease;
}
.comments-area .comment-reply-title a:hover {
  border: 1px solid #555555;
  text-shadow: 0px 2px 3px #000;
  color: #ddd;
  background-color: #333333;
}
.comments-area .comment-form, .comments-area .comment-form-flex {
  max-width: 800px;
  margin: 0 auto;
}
.comments-area .comment-notes {
  text-align: center;
}
.comments-area .comment-form-comment label,
.comments-area .comment-form-author label,
.comments-area .comment-form-email label,
.comments-area .comment-form-url label {
  display: block;
  text-align: left;
}
.comments-area .comment-form-comment input,
.comments-area .comment-form-author input,
.comments-area .comment-form-email input,
.comments-area .comment-form-url input {
  width: 100%;
  height: 30px;
  border: 1px solid #A0A0A0;
  border-radius: 5px;
}
.comments-area .comment-form-comment textarea,
.comments-area .comment-form-author textarea,
.comments-area .comment-form-email textarea,
.comments-area .comment-form-url textarea {
  width: 100%;
  height: 105px;
  border: 1px solid #A0A0A0;
  border-radius: 5px;
}
.comments-area .form-submit {
  width: 100%;
  text-align: center;
}
.comments-area .form-submit a,
.comments-area .form-submit input {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  font-style: normal;
  letter-spacing: normal;
  line-height: 120%;
  color: #FFFFFF;
  max-width: 200px;
  width: 100%;
  padding: 20px 10px;
  z-index: 1;
  box-sizing: border-box;
  text-align: center;
  display: inline-block;
  border: 0;
  border: 1px solid transparent;
  background: #333333;
  transition: all 0.5s ease;
}
.comments-area .form-submit a:hover,
.comments-area .form-submit input:hover {
  border: 1px solid #333333;
  text-shadow: 0px 2px 3px #000;
  color: #ddd;
  background-color: #555555;
}

/*###################################
## Search Page
###################################*/
.page-description {
  text-align: center;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 25px;
  display: block;
}
.page-description::after {
  content: ' "';
}
.page-description::before {
  content: '" ';
}

.search article {
  transition: all 0.5s linear;
  position: relative;
  margin: 0 0 40px !important;
  box-sizing: border-box;
  padding: 20px 10px;
  border: 5px solid #333333;
  border-radius: 5px;
  box-shadow: 0 2px 15px #555555;
}
.search article:hover {
  box-shadow: 0px 0px 20px #000;
}
.search article:last-of-type {
  margin-bottom: 0;
}
.search article h2 {
  margin: 0 0 20px;
  font-size: 35px;
}

.search-con {
  padding-right: 5%;
  flex-basis: 65%;
}

/*###################################
## Error Page
###################################*/
.error-404 {
  text-align: center;
}

/*###################################
## Responsive
###################################*/
@media screen and (max-width: 1200px) {
  .order-1 {
    order: 1;
  }
  .order-2 {
    order: 2;
  }
  .order-3 {
    order: 3;
  }
  .order-4 {
    order: 4;
  }
  .order-5 {
    order: 5;
  }
  .order-6 {
    order: 6;
  }
}
@media screen and (max-width: 1024px) {
  body {
    min-width: 320px;
  }

  .desktop {
    display: none;
  }

  .site-banner {
    padding: 70px 0 40px;
  }

  .tablet {
    display: block;
  }

  .tablet-padding {
    padding: 40px 0 !important;
  }
}
@media screen and (max-width: 800px) {
  .mobile-padding {
    padding: 30px 0 !important;
  }

  .site-banner__background {
    position: relative;
    min-height: 400px;
  }
  .site-banner__text {
    padding: 40px 0;
    background: #333333;
  }

  .mobile {
    display: block;
  }

  .cta {
    background: #333333 url("assets/images/phonecall.png") no-repeat center center;
    border-bottom-left-radius: 40px;
    border-top: 2px solid #555555;
    border-top-left-radius: 40px;
    text-decoration: none;
    text-indent: -9999em;
    position: fixed;
    display: block;
    bottom: 13%;
    height: 80px;
    width: 100px;
    z-index: 999;
    right: 0;
  }

  #wprmenu_bar {
    box-shadow: 0px 0px 2px #000;
  }
  #wprmenu_bar .menu_title a {
    color: #FFF;
    top: 0;
  }

  html body div.wprm-overlay {
    background: transparent;
  }

  .logged-in #wprmenu_menu_ul {
    top: 47px !important;
  }
}
@media screen and (max-width: 600px) {
  .blog article .entry-header__date {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }

  .blog article .entry-header__date .day {
    font-size: initial;
    font-weight: 400;
  }
}
/*###################################
## Grid System
###################################*/
/*For Mobile Phones*/
[class*=col-] {
  width: 100% !important;
  flex-basis: 100% !important;
  position: relative;
  box-sizing: border-box;
  padding: 0 15px;
}

@media screen and (min-width: 600px) {
  .col-xs-1 {
    width: 8.33% !important;
    flex-basis: 8.33% !important;
  }

  .col-xs-2 {
    width: 16.66% !important;
    flex-basis: 16.66% !important;
  }

  .col-xs-3 {
    width: 25% !important;
    flex-basis: 25% !important;
  }

  .col-xs-4 {
    width: 33.33% !important;
    flex-basis: 33.33% !important;
  }

  .col-xs-5 {
    width: 41.66% !important;
    flex-basis: 41.66% !important;
  }

  .col-xs-6 {
    width: 50% !important;
    flex-basis: 50% !important;
  }

  .col-xs-7 {
    width: 58.33% !important;
    flex-basis: 58.33% !important;
  }

  .col-xs-8 {
    width: 66.66% !important;
    flex-basis: 66.66% !important;
  }

  .col-xs-9 {
    width: 75% !important;
    flex-basis: 75% !important;
  }

  .col-xs-10 {
    width: 83.33% !important;
    flex-basis: 83.33% !important;
  }

  .col-xs-11 {
    width: 91.66% !important;
    flex-basis: 91.66% !important;
  }

  .col-xs-12 {
    width: 100% !important;
    flex-basis: 100% !important;
  }

  .column-5 [class*=col-xs-2] {
    width: 20% !important;
    flex-basis: 20% !important;
  }
}
@media screen and (min-width: 800px) {
  .col-sm-1 {
    width: 8.33% !important;
    flex-basis: 8.33% !important;
  }

  .col-sm-2 {
    width: 16.66% !important;
    flex-basis: 16.66% !important;
  }

  .col-sm-3 {
    width: 25% !important;
    flex-basis: 25% !important;
  }

  .col-sm-4 {
    width: 33.33% !important;
    flex-basis: 33.33% !important;
  }

  .col-sm-5 {
    width: 41.66% !important;
    flex-basis: 41.66% !important;
  }

  .col-sm-6 {
    width: 50% !important;
    flex-basis: 50% !important;
  }

  .col-sm-7 {
    width: 58.33% !important;
    flex-basis: 58.33% !important;
  }

  .col-sm-8 {
    width: 66.66% !important;
    flex-basis: 66.66% !important;
  }

  .col-sm-9 {
    width: 75% !important;
    flex-basis: 75% !important;
  }

  .col-sm-10 {
    width: 83.33% !important;
    flex-basis: 83.33% !important;
  }

  .col-sm-11 {
    width: 91.66% !important;
    flex-basis: 91.66% !important;
  }

  .col-sm-12 {
    width: 100% !important;
    flex-basis: 100% !important;
  }

  .column-5 [class*=col-sm-2] {
    width: 20% !important;
    flex-basis: 20% !important;
  }
}
@media screen and (min-width: 960px) {
  .col-md-1 {
    width: 8.33% !important;
    flex-basis: 8.33% !important;
  }

  .col-md-2 {
    width: 16.66% !important;
    flex-basis: 16.66% !important;
  }

  .col-md-3 {
    width: 25% !important;
    flex-basis: 25% !important;
  }

  .col-md-4 {
    width: 33.33% !important;
    flex-basis: 33.33% !important;
  }

  .col-md-5 {
    width: 41.66% !important;
    flex-basis: 41.66% !important;
  }

  .col-md-6 {
    width: 50% !important;
    flex-basis: 50% !important;
  }

  .col-md-7 {
    width: 58.33% !important;
    flex-basis: 58.33% !important;
  }

  .col-md-8 {
    width: 66.66% !important;
    flex-basis: 66.66% !important;
  }

  .col-md-9 {
    width: 75% !important;
    flex-basis: 75% !important;
  }

  .col-md-10 {
    width: 83.33% !important;
    flex-basis: 83.33% !important;
  }

  .col-md-11 {
    width: 91.66% !important;
    flex-basis: 91.66% !important;
  }

  .col-md-12 {
    width: 100% !important;
    flex-basis: 100% !important;
  }

  .column-5 [class*=col-md-2] {
    width: 20% !important;
    flex-basis: 20% !important;
  }
}
@media screen and (min-width: 1024px) {
  .col-lg-1 {
    width: 8.33% !important;
    flex-basis: 8.33% !important;
  }

  .col-lg-2 {
    width: 16.66% !important;
    flex-basis: 16.66% !important;
  }

  .col-lg-3 {
    width: 25% !important;
    flex-basis: 25% !important;
  }

  .col-lg-4 {
    width: 33.33% !important;
    flex-basis: 33.33% !important;
  }

  .col-lg-5 {
    width: 41.66% !important;
    flex-basis: 41.66% !important;
  }

  .col-lg-6 {
    width: 50% !important;
    flex-basis: 50% !important;
  }

  .col-lg-7 {
    width: 58.33% !important;
    flex-basis: 58.33% !important;
  }

  .col-lg-8 {
    width: 66.66% !important;
    flex-basis: 66.66% !important;
  }

  .col-lg-9 {
    width: 75% !important;
    flex-basis: 75% !important;
  }

  .col-lg-10 {
    width: 83.33% !important;
    flex-basis: 83.33% !important;
  }

  .col-lg-11 {
    width: 91.66% !important;
    flex-basis: 91.66% !important;
  }

  .col-lg-12 {
    width: 100% !important;
    flex-basis: 100% !important;
  }

  .column-5 [class*=col-lg-2] {
    width: 20% !important;
    flex-basis: 20% !important;
  }
}
@media screen and (min-width: 1200px) {
  .col-xl-1 {
    width: 8.33% !important;
    flex-basis: 8.33% !important;
  }

  .col-xl-2 {
    width: 16.66% !important;
    flex-basis: 16.66% !important;
  }

  .col-xl-3 {
    width: 25% !important;
    flex-basis: 25% !important;
  }

  .col-xl-4 {
    width: 33.33% !important;
    flex-basis: 33.33% !important;
  }

  .col-xl-5 {
    width: 41.66% !important;
    flex-basis: 41.66% !important;
  }

  .col-xl-6 {
    width: 50% !important;
    flex-basis: 50% !important;
  }

  .col-xl-7 {
    width: 58.33% !important;
    flex-basis: 58.33% !important;
  }

  .col-xl-8 {
    width: 66.66% !important;
    flex-basis: 66.66% !important;
  }

  .col-xl-9 {
    width: 75% !important;
    flex-basis: 75% !important;
  }

  .col-xl-10 {
    width: 83.33% !important;
    flex-basis: 83.33% !important;
  }

  .col-xl-11 {
    width: 91.66% !important;
    flex-basis: 91.66% !important;
  }

  .col-xl-12 {
    width: 100% !important;
    flex-basis: 100% !important;
  }

  .column-5 [class*=col-xl-2] {
    width: 20% !important;
    flex-basis: 20% !important;
  }
}