@media screen and (max-width: 1200px){
    .order{
        &-1{
            order: 1;
        }
        &-2 {
            order: 2;
        }
        &-3 {
            order: 3;
        }
        &-4 {
            order: 4;
        }
        &-5 {
            order: 5;
        }
        &-6 {
            order: 6;
        }
    }
    
}
@media screen and (max-width: 1024px) {
    body {
        min-width: 320px;
    }
    .desktop{
        display: none;
    }
    .site-banner{
        padding: 70px 0 40px;
    }
    .tablet{
        display: block;
    }
    .tablet-padding{
        padding: 40px 0!important;
    }
}

@media screen and (max-width: 800px) {
    .mobile-padding{
        padding: 30px 0!important ;
    }
    .site-banner{
        &__background{
            position: relative;
            min-height: 400px;
        }
        &__text{
            padding: 40px 0;
            background: $primary-color;
        }
    }
    .mobile{
        display: block;
    }
    .cta {
        background: $primary-color url("assets/images/phonecall.png") no-repeat center center;
        border-bottom-left-radius: 40px;
        border-top: 2px solid $secondary-color;
        border-top-left-radius: 40px;
        text-decoration: none;
        text-indent: -9999em;
        position: fixed;
        display: block;
        bottom: 13%;
        height: 80px;
        width: 100px;
        z-index: 999;
        right: 0;
    }

    #wprmenu_bar {
        box-shadow: 0px 0px 2px #000;

        .menu_title a {
            color: #FFF;
            top: 0;
        }
    }

    html body div.wprm-overlay {
        background: transparent;
    }

    .logged-in #wprmenu_menu_ul {
        top: 47px !important;
    }
}
@media screen and (max-width: 600px){
    .blog article .entry-header__date{
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
    }
    .blog article .entry-header__date .day{
        font-size: initial;
        font-weight: 400;
    }
}