.blog{
    h1,
    h2 {
        text-align: center;
    }
    article{
        position: relative;
        margin: 0 0 40px;
        box-sizing: border-box;
        padding: 20px 10px;
        border: 5px solid $primary-color;
        border-radius: 5px;
        box-shadow: 0 2px 15px #555555;
        .entry-header{
            max-width: 1120px;
            margin: 0 auto;
            
            &__date{
                text-align: center;
                display: inline-block;
                vertical-align: middle;
                padding: 10px;
                margin: 0 20px 0 0;
                max-width: 70px;
                background: $primary-color;
                color: #FFFFFF;
                .day{
                    font-size: 40px;
                    font-weight: bold;
                }
            }
            &__text{
                display: inline-block;
                vertical-align: middle;
                h2{
                    font-style: normal;
                    font-size: 40px;
                }   
            }
        }
        .entry-content{
            max-width: 1120px;
            margin: 0 auto;
            padding: 40px 0 0;
            p{
                margin: 1em auto;
            }
            .btn{
                margin: 40px auto 0 ;
            }
        }
    }
}