html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: $font1;
    margin: 0 auto;
    width: $body-width;
    max-width: $body-max-width;
    min-width: $body-min-width;
}