.btn {
    text-align: left;
    max-width: 160px;
    width: 100%;
    a,
    input {
        position: relative;
        @include font($font1, 700, 20px, normal, normal, 120%, #FFFFFF);
        width: 100%;
        padding: 4px 17px;
        z-index: 1;
        box-sizing: border-box;
    }

    &-primary {

        a,
        input {
            text-align: center;
            display: inline-block;
            border: 0;
            border: 1px solid transparent;
            background: $primary-color;
            transition: all 0.5s ease;

            &:hover {
                border: 1px solid $primary-color;
                text-shadow: 0px 2px 3px #000;
                color: #ddd;
                background-color: $secondary-color;
            }
        }
    }

    &-secondary {

        a,
        input {
            border: 0;
            border: 1px solid transparent;
            border-radius: 5px;
            background: linear-gradient(#770004, #4E0001);
            transition: all 0.5s ease;

            &:hover {
                border: 1px solid $secondary-color;
                text-shadow: 0px 2px 3px #000;
                color: #ddd;
                background-color: $primary-color;
            }
        }
    }
}