a {
    text-decoration: none;
    transition: all .5s ease;
    color: inherit;

    &:visited {
        text-decoration: none;
        transition: all .5s ease;
        color: #555;
    }

    &:hover {
        text-shadow: 0px 0px 5px #000;
    }

    &:focus {
        outline: none !important;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 auto;
}

h1 {
    @include font($h1-font-family, $h1-font-weight, $h1-font-size, $h1-font-style, $h1-font-letter-spacing, $h1-font-line-height, $h1-font-color);
    text-transform: $h1-text-transform;
}

h2 {
    @include font($h2-font-family, $h2-font-weight, $h2-font-size, $h2-font-style, $h2-font-letter-spacing, $h2-font-line-height, $h2-font-color);
    text-transform: $h2-text-transform;
}

h3 {
    @include font($h3-font-family, $h3-font-weight, $h3-font-size, $h3-font-style, $h3-font-letter-spacing, $h3-font-line-height, $h3-font-color);
    text-transform: $h3-text-transform;
}

h4 {
    @include font($h4-font-family, $h4-font-weight, $h4-font-size, $h4-font-style, $h4-font-letter-spacing, $h4-font-line-height, $h4-font-color);
    text-transform: $h4-text-transform;
}

h5 {
    @include font($h5-font-family, $h5-font-weight, $h5-font-size, $h5-font-style, $h5-font-letter-spacing, $h5-font-line-height, $h5-font-color);
    text-transform: $h5-text-transform;
}

h6 {
    @include font($h6-font-family, $h6-font-weight, $h6-font-size, $h6-font-style, $h6-font-letter-spacing, $h6-font-line-height, $h6-font-color);
    text-transform: $h6-text-transform;
}
p,
ul,
ol {
    margin: 1em 0;
    @include font($pfont,400,14px,normal,normal,180%,#000000);
    a{
        color: #7a0000;
    }
    strong{
        color: #172e39;
    }
}