.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    word-wrap: normal !important;
    overflow: hidden;
    height: 1px;
    margin: -1px;
    padding: 0;
    width: 1px;
    border: 0;
}

.wp-block-column,
.blocks-gallery-item {
    margin: 0 !important;
}
.no-margin-figure{
    figure{
        margin: 0!important;
    }
}
.no-padding{
    padding: 0 !important;
}
.mobile, .tablet{
    display: none;
}
.container {
    width: 100%;
   @include flex(row,wrap,space-around,flex-start)
}
.align-stretch{
    align-items: stretch;
}
.align-center{
    align-items: center;
}
.align-start{
    align-items: flex-start;
}
.align-end{
    align-items: flex-end;
}
.justify-around{
    justify-content: space-around;
}
.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.justify-start{
    justify-content: flex-start;
}
.justify-end{
    justify-content: flex-end;
}
.row {
    max-width: $row-width;
    margin: 0 auto;
}

.cta {
    display: none;
}

.grecaptcha-badge {
    z-index: 999999;
}