/*For Mobile Phones*/
[class*="col-"] {
    width: 100% !important;
    flex-basis: 100% !important;
    position: relative;
    box-sizing: border-box;
    padding: 0 15px;
}

@media screen and (min-width: 600px) {

    .col-xs-1 {
        width: 8.33% !important;
        flex-basis: 8.33% !important;
    }

    .col-xs-2 {
        width: 16.66% !important;
        flex-basis: 16.66% !important;
    }

    .col-xs-3 {
        width: 25% !important;
        flex-basis: 25% !important;
    }

    .col-xs-4 {
        width: 33.33% !important;
        flex-basis: 33.33% !important;
    }

    .col-xs-5 {
        width: 41.66% !important;
        flex-basis: 41.66% !important;
    }

    .col-xs-6 {
        width: 50% !important;
        flex-basis: 50% !important;
    }

    .col-xs-7 {
        width: 58.33% !important;
        flex-basis: 58.33% !important;
    }

    .col-xs-8 {
        width: 66.66% !important;
        flex-basis: 66.66% !important;
    }

    .col-xs-9 {
        width: 75% !important;
        flex-basis: 75% !important;
    }

    .col-xs-10 {
        width: 83.33% !important;
        flex-basis: 83.33% !important;
    }

    .col-xs-11 {
        width: 91.66% !important;
        flex-basis: 91.66% !important;
    }

    .col-xs-12 {
        width: 100% !important;
        flex-basis: 100% !important;
    }

    .column-5 {
        [class*=col-xs-2] {
            width: 20% !important;
            flex-basis: 20% !important;
        }
    }
}

@media screen and (min-width: 800px) {

    .col-sm-1 {
        width: 8.33% !important;
        flex-basis: 8.33% !important;
    }

    .col-sm-2 {
        width: 16.66% !important;
        flex-basis: 16.66% !important;
    }

    .col-sm-3 {
        width: 25% !important;
        flex-basis: 25% !important;
    }

    .col-sm-4 {
        width: 33.33% !important;
        flex-basis: 33.33% !important;
    }

    .col-sm-5 {
        width: 41.66% !important;
        flex-basis: 41.66% !important;
    }

    .col-sm-6 {
        width: 50% !important;
        flex-basis: 50% !important;
    }

    .col-sm-7 {
        width: 58.33% !important;
        flex-basis: 58.33% !important;
    }

    .col-sm-8 {
        width: 66.66% !important;
        flex-basis: 66.66% !important;
    }

    .col-sm-9 {
        width: 75% !important;
        flex-basis: 75% !important;
    }

    .col-sm-10 {
        width: 83.33% !important;
        flex-basis: 83.33% !important;
    }

    .col-sm-11 {
        width: 91.66% !important;
        flex-basis: 91.66% !important;
    }

    .col-sm-12 {
        width: 100% !important;
        flex-basis: 100% !important;
    }

    .column-5 {
        [class*=col-sm-2] {
            width: 20% !important;
            flex-basis: 20% !important;
        }
    }

}

@media screen and (min-width: 960px) {

    .col-md-1 {
        width: 8.33% !important;
        flex-basis: 8.33% !important;
    }

    .col-md-2 {
        width: 16.66% !important;
        flex-basis: 16.66% !important;
    }

    .col-md-3 {
        width: 25% !important;
        flex-basis: 25% !important;
    }

    .col-md-4 {
        width: 33.33% !important;
        flex-basis: 33.33% !important;
    }

    .col-md-5 {
        width: 41.66% !important;
        flex-basis: 41.66% !important;
    }

    .col-md-6 {
        width: 50% !important;
        flex-basis: 50% !important;
    }

    .col-md-7 {
        width: 58.33% !important;
        flex-basis: 58.33% !important;
    }

    .col-md-8 {
        width: 66.66% !important;
        flex-basis: 66.66% !important;
    }

    .col-md-9 {
        width: 75% !important;
        flex-basis: 75% !important;
    }

    .col-md-10 {
        width: 83.33% !important;
        flex-basis: 83.33% !important;
    }

    .col-md-11 {
        width: 91.66% !important;
        flex-basis: 91.66% !important;
    }

    .col-md-12 {
        width: 100% !important;
        flex-basis: 100% !important;
    }

    .column-5 {
        [class*=col-md-2] {
            width: 20% !important;
            flex-basis: 20% !important;
        }
    }
}

@media screen and (min-width: 1024px) {


    .col-lg-1 {
        width: 8.33% !important;
        flex-basis: 8.33% !important;
    }

    .col-lg-2 {
        width: 16.66% !important;
        flex-basis: 16.66% !important;
    }

    .col-lg-3 {
        width: 25% !important;
        flex-basis: 25% !important;
    }

    .col-lg-4 {
        width: 33.33% !important;
        flex-basis: 33.33% !important;
    }

    .col-lg-5 {
        width: 41.66% !important;
        flex-basis: 41.66% !important;
    }

    .col-lg-6 {
        width: 50% !important;
        flex-basis: 50% !important;
    }

    .col-lg-7 {
        width: 58.33% !important;
        flex-basis: 58.33% !important;
    }

    .col-lg-8 {
        width: 66.66% !important;
        flex-basis: 66.66% !important;
    }

    .col-lg-9 {
        width: 75% !important;
        flex-basis: 75% !important;
    }

    .col-lg-10 {
        width: 83.33% !important;
        flex-basis: 83.33% !important;
    }

    .col-lg-11 {
        width: 91.66% !important;
        flex-basis: 91.66% !important;
    }

    .col-lg-12 {
        width: 100% !important;
        flex-basis: 100% !important;
    }

    .column-5 {
        [class*=col-lg-2] {
            width: 20% !important;
            flex-basis: 20% !important;
        }
    }

}

@media screen and (min-width: 1200px) {

    .col-xl-1 {
        width: 8.33% !important;
        flex-basis: 8.33% !important;
    }

    .col-xl-2 {
        width: 16.66% !important;
        flex-basis: 16.66% !important;
    }

    .col-xl-3 {
        width: 25% !important;
        flex-basis: 25% !important;
    }

    .col-xl-4 {
        width: 33.33% !important;
        flex-basis: 33.33% !important;
    }

    .col-xl-5 {
        width: 41.66% !important;
        flex-basis: 41.66% !important;
    }

    .col-xl-6 {
        width: 50% !important;
        flex-basis: 50% !important;
    }

    .col-xl-7 {
        width: 58.33% !important;
        flex-basis: 58.33% !important;
    }

    .col-xl-8 {
        width: 66.66% !important;
        flex-basis: 66.66% !important;
    }

    .col-xl-9 {
        width: 75% !important;
        flex-basis: 75% !important;
    }

    .col-xl-10 {
        width: 83.33% !important;
        flex-basis: 83.33% !important;
    }

    .col-xl-11 {
        width: 91.66% !important;
        flex-basis: 91.66% !important;
    }

    .col-xl-12 {
        width: 100% !important;
        flex-basis: 100% !important;
    }

    .column-5 {
        [class*=col-xl-2] {
            width: 20% !important;
            flex-basis: 20% !important;
        }
    }
}