.sidebar {
    max-width: 336px;
    margin: 0 0 0 auto;
    h5{
        border-top: 1px dashed #9797A6;
        padding: 10px 0;
        &:last-of-type{
            border-bottom: 1px dashed #9797A6;
        }
    }
    .widget_search {
        box-sizing: border-box;
        background: #6A7A64;
        margin-bottom: 25px;
        padding: 20px;
        width: 100%;
    }

    .widget:last-of-type {
        margin-bottom: 0;
    }
}